<div class="layout-wrapper layout-compact">
    <div class="layout-container menu-layout-overlay">
        <div class="topbar clearfix">
            <div class="topbar-left">
                <div class="logo"></div>
            </div>
            <div class="topbar-right">
                <a href="#" id="menu-button">
                    <i></i>
                </a>
                <a href="#" id="topbar-menu-button">
                    <i class="material-icons">menu</i>
                </a>
                <ul class="topbar-items fadeInDown animated">
                    <li class="profile-item" hidden="">
                        <a href="#">
                            <div class="profile-image"></div>
                            <span class="topbar-item-name">Jane Williams</span>
                        </a>
                        <ul class="ultima-menu animated">
                            <li role="menuitem">
                                <a href="#">
                                    <i class="material-icons">person</i>
                                    <span>Profile</span>
                                </a>
                            </li>
                            <li role="menuitem">
                                <a href="#">
                                    <i class="material-icons">security</i>
                                    <span>Privacy</span>
                                </a>
                            </li>
                            <li role="menuitem">
                                <a href="#">
                                    <i class="material-icons">settings_applications</i>
                                    <span>Settings</span>
                                </a>
                            </li>
                            <li role="menuitem">
                                <a href="#">
                                    <i class="material-icons">power_settings_new</i>
                                    <span>Logout</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="topbar-icon material-icons">settings</i>
                            <span class="topbar-item-name">Settings</span>
                        </a>
                        <ul class="ultima-menu animated">
                            <li role="menuitem">
                                <a href="#">
                                    <i class="material-icons">palette</i>
                                    <span>Change Theme</span>
                                </a>
                            </li>
                            <li role="menuitem">
                                <a href="#">
                                    <i class="material-icons">favorite_border</i>
                                    <span>Favorites</span>
                                </a>
                            </li>
                            <li role="menuitem">
                                <a href="#">
                                    <i class="material-icons">lock</i>
                                    <span>Lock Screen</span>
                                </a>
                            </li>
                            <li role="menuitem">
                                <a href="#">
                                    <i class="material-icons">wallpaper</i>
                                    <span>Wallpaper</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="topbar-icon material-icons animated swing">message</i>
                            <span class="topbar-badge animated rubberBand">5</span>
                            <span class="topbar-item-name">Messages</span>
                        </a>
                        <ul class="ultima-menu animated">
                            <li role="menuitem">
                                <a class="topbar-message" href="#">
                                    <img src="" width="35">
                                    <span>Give me a call</span>
                                </a>
                            </li>
                            <li role="menuitem">
                                <a class="topbar-message" href="#">
                                    <img src="" width="35">
                                    <span>Sales reports attached</span>
                                </a>
                            </li>
                            <li role="menuitem">
                                <a class="topbar-message" href="#">
                                    <img src="" width="35">
                                    <span>About your invoice</span>
                                </a>
                            </li>
                            <li role="menuitem">
                                <a class="topbar-message" href="#">
                                    <img src="" width="35">
                                    <span>Meeting today at 10pm</span>
                                </a>
                            </li>
                            <li role="menuitem">
                                <a class="topbar-message" href="#">
                                    <img src="" width="35">
                                    <span>Out of office</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="topbar-icon material-icons">timer</i>
                            <span class="topbar-badge animated rubberBand">4</span>
                            <span class="topbar-item-name">Notifications</span>
                        </a>
                        <ul class="ultima-menu animated">
                            <li role="menuitem">
                                <a href="#">
                                    <i class="material-icons">bug_report</i>
                                    <span>Pending tasks</span>
                                </a>
                            </li>
                            <li role="menuitem">
                                <a href="#">
                                    <i class="material-icons">event</i>
                                    <span>Meeting today at 3pm</span>
                                </a>
                            </li>
                            <li role="menuitem">
                                <a href="#">
                                    <i class="material-icons">file_download</i>
                                    <span>Download documents</span>
                                </a>
                            </li>
                            <li role="menuitem">
                                <a href="#">
                                    <i class="material-icons">flight</i>
                                    <span>Book flight</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="search-item">
                        <span class="md-inputfield">
                            <input type="text">
                            <label>Search</label>
                            <i class="topbar-icon material-icons">search</i>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="layout-menu">
            <div class="nano">
                <div class="nano-content menu-scroll-content" tabindex="0">
                    <div class="profile">
                        <div class="profile-image"></div>
                        <a href="#" id="profile-options">
                            <span class="profile-name">Jane Williams</span>
                            <i class="material-icons">keyboard_arrow_down</i>
                        </a>
                    </div>

                    <ul class="ultima-menu" id="profile-menu">
                        <li role="menuitem">
                            <a class="ripplelink" href="#">
                                <i class="material-icons">person</i>
                                <span>Profile</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a class="ripplelink" href="#">
                                <i class="material-icons">security</i>
                                <span>Privacy</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a class="ripplelink" href="#">
                                <i class="material-icons">settings_application</i>
                                <span>Settings</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a class="ripplelink" href="#">
                                <i class="material-icons">power_settings_new</i>
                                <span>Logout</span>
                            </a>
                        </li>
                    </ul>

                    <ul class="ultima-menu clearfix" id="main-menu">
                        <li *ngFor="let menu of sideMenu" role="menuitem">
                            <a class="ripplelink" href="#/">
                                <i class="{{menu.iconName}}"></i>
                                <span>{{menu.menuName}}</span>
                                <i class="material-icons" *ngIf="menu.items.length > 0">keyboard_arrow_up</i>
                            </a>
                            <ul role="menu">
                                <li role="menuitem" *ngFor="let menuItem of menu.items">
                                    <a class="ripplelink" href="#"><i class="material-icons">brush</i><span>{{menuItem.menuItemName}}</span></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="nano-pane" style="display: block;">
                    <div class="nano-slider" style="height: 85px; transform: translate(0px, 21.5632px);"></div>
                </div>
            </div>
        </div>
    </div>
</div>